@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Styling */
:root {
	font-size: 16px;
	--defaultf-fonts: system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
	height: 100vh;
	width: 100%;
	font-family: var(--default-fonts);
	display: flex;
	flex-direction: column;
}

.header,
.main,
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	padding: 24px;
	background-color: rgb(0, 48, 146);
	color: rgb(255, 171, 91);
	font-size: 3rem;
	font-family: "Jersey 15", "Doto", var(--defaultf-fonts);
	text-transform: uppercase;
	text-shadow: 0 0 10px rgb(0, 0, 0);
}

.main {
	flex: 1;
	flex-direction: column;
	background-color: rgb(0, 135, 158);
}

.player-details {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	padding-top: 24px;
}

.player-one,
.player-two {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
}

.player-one h2,
.player-two h2 {
	color: rgb(255, 171, 91);
	font-size: 2.5rem;
	font-family: "Jersey 15", "Doto", var(--defaultf-fonts);
	text-transform: uppercase;
	text-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

form {
	display: flex;
	gap: 8px;
}

.form-row {
	display: flex;
	position: relative;
}

.form-row input {
	position: relative;
	width: 150px;
	padding: 10px;
	font-size: 0.9rem;
	font-family: "Doto", "Jersey 15", var(--defaultf-fonts);
	font-weight: 900;
	color: rgb(255, 242, 219);
	background: none;
	border: 1px solid rgb(255, 171, 91);
	border-radius: 5px;
	outline: none;
}

.form-row label {
	position: absolute;
	padding: 10px;
	pointer-events: none;
	font-size: 0.9rem;
	font-family: "Doto", "Jersey 15", var(--defaultf-fonts);
	font-weight: 900;
	text-transform: lowercase;
	color: rgb(255, 242, 219);
	transition-property: top, left, padding, scale;
	transition-duration: 0.2s;
}

.form-row input:hover ~ label {
	scale: 1.05;
}

.form-row input:focus ~ label,
.form-row input:not(:placeholder-shown) ~ label {
	top: -10px;
	left: 20px;
	color: rgb(255, 171, 91);
	background-color: rgb(0, 135, 158);
	padding: 0 10px;
	font-size: 0.8rem;
	font-style: italic;
}

button[type="submit"] {
	width: 75px;
	color: rgb(255, 242, 219);
	background: none;
	outline: none;
	border: 1px solid rgb(255, 171, 91);
	border-radius: 5px;
	font-size: 0.9rem;
	font-weight: 900;
	font-family: "Doto", "Jersey 15", var(--defaultf-fonts);
	transition: font-size 0.2s, background-color 0.2s, text-decoration 0.2s;
}

button[type="submit"]:hover {
	font-size: 0.95rem;
	background-color: rgb(255, 171, 91);
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 24px;
	gap: 5px;
}

.board-square {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7rem;
	width: 7rem;
	border: 2px solid rgb(255, 242, 219);
	background-color: rgb(255, 242, 219);
	border-radius: 5px;
	font-size: 4rem;
	font-family: "Jersey 15", "Doto", var(--defaultf-fonts);
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.75);
	transition: border 0.2s;
}

.board-square:hover {
	border: 3px solid rgb(255, 171, 91);
}

.footer {
	padding: 32px;
	background-color: rgb(0, 48, 146);
	color: rgb(255, 171, 91);
	font-size: 1.4rem;
	font-family: "Jersey 15", "Doto", var(--defaultf-fonts);
	text-shadow: 0 0 10px rgb(0, 0, 0);
}

.footer a,
.footer a:visited,
.footer a:active {
	text-decoration: none;
	color: rgb(255, 171, 91);
	position: relative;
}

.footer a::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	width: 0%;
	height: 1px;
	background-color: rgb(255, 171, 91);
	transition: width 0.2s;
}

.footer a:hover::after {
	width: 100%;
}